@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy-Light.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "GilroyExtraBold";
    src: url("/fonts/Gilroy-ExtraBold.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "ProximaNova";
    src: url("/fonts/ProximaNova-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
} ;
